<div class="navi center">
  <app-tabs>

    <app-tab title="home">
      <app-home>...</app-home>
    </app-tab>

    <app-tab title="search">
      <app-search>...</app-search>
    </app-tab>

    <app-tab title="add">
      <app-add>...</app-add>
    </app-tab>

    <app-tab title="exercise">
      <app-exercise>...</app-exercise>
    </app-tab>

    <app-tab title="patient">
      <app-patient>...</app-patient>
    </app-tab>

  </app-tabs>
</div>
<br> <br>
<alert></alert>
<router-outlet></router-outlet>
