/*
Global style settings done here. Specific style setting will be done inside the component .css file
 */
header{
  border: 2px;
  border-style: solid;
}

body{
  background-color: azure;
}

footer{
  text-align: center;
}

div{
  border: 2px;
  margin: 2px;
}

/*
for changes on our Form Elements(Login,Register etc.)
*/
form{
  align-self: center;
  background-color: lightblue;
  font-size: 15px;
}

ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline;
  margin-left:1%;
}
/*--------------------------------------------------------------------------------------------------------------------*/
/*
Maybe these style configurations should be put into the components...
 */
div.indexDiv{
  border-style: solid;
}

div.footerDiv{
  border-style: dashed;
}

div.navigationDiv{
  border-style: dotted;
  background-color: lightgray;
}

/*--------------------------------------------------------------------------------------------------------------------*/
/*
Use them for declaring <div> and making them responsive
*/
.column{
  margin-left: 3%;
  margin-right:3%;
  align-items: center;
}

/*
Use them for declaring <div> and making them responsive
*/
.col-1 { width: 20%; }
.col-2 { width: 30%; }
.col-3 { width: 40%; }
.col-4 { width: 60%; }
.col-5 { width: 80%; }
.col-6 { width: 99%; }
