<section>
<div>
<app-tabs>
  <app-tab title="Home">
    <app-welcome-form>...</app-welcome-form>
  </app-tab>
  <app-tab title="Patienten">
    <app-patient-form>...</app-patient-form>
  </app-tab>
  <app-tab title="Übungen">
    <app-exercise-form>...</app-exercise-form>
  </app-tab>
  <app-tab title="Programme">
    <app-program-form>...</app-program-form>
  </app-tab>
  <app-tab title="Admin">
    <app-admin>...</app-admin>
  </app-tab>
  <app-tab title="logout">
  </app-tab>
</app-tabs>
</div>
</section>

