<div class="center">
  <section>

    <h2>Patienten</h2>

    <article class="nocenter">


      <table class="patient">
        <tr class="patient">
          <th class="patient">Vorname</th>
          <th class="patient">Nachname</th>
          <th class="patient">Details</th>
        </tr>
        <tr class="patient" *ngFor="let patient of patients" (click)="onSelect(patient)">
          <td class="patient">{{patient.firstname}}</td>
          <td class="patient">{{patient.surname}}</td>
          <td class="patient"><a (click)="clickButton()"> Details </a></td>
          <td class="patient"><button class="standartButton" (click)="removePatient(patient.id)">löschen</button></td>
        </tr>
      </table>

    </article>

    <router-outlet></router-outlet>


  </section>
</div>



<div class="center">
  <section>




  </section>
</div>


