<div class="center">
  <section>

    <h2>Patienten</h2>



      <table>
        <tr>
          <th>Vorname</th>
          <th>Nachname</th>
        </tr>
        <tr *ngFor="let patient of patients" (click)="onSelect(patient)">
          <td>{{patient.firstname}}</td>
          <td>{{patient.surname}}</td>
          <td><a (click)="goToPatientDetails(patient.id)"> Details </a> | <a (click)="removePatient(patient.id)">löschen</a></td>
        </tr>
      </table>


    <router-outlet></router-outlet>


  </section>
</div>

