<div class="column col-6" align="center">
  <div class="indexDiv column col-4" align="center">
    <table>
      <tr>
        <th>Name</th>
        <th>Gruppe</th>
        <th></th>
      </tr>
      <tr>
        <td>BasicI</td>
        <td>Ganzkörper</td>
        <td>Details/Bearbeiten</td>
      </tr>
      <tr>
        <td>Advanced</td>
        <td>Rücken</td>
        <td>Details/Bearbeiten</td>
      </tr>
      <tr>
        <td>Intermediate</td>
        <td>Beine</td>
        <td>Details/Bearbeiten</td>
      </tr>
    </table>
  </div>
  <button>Übung hinzufügen</button>
</div>

