<div class="center">
  <section>

    <br><br><br>

    <img src="favicon.ico" height="100" >
    <p></p>

    <h1>Willkommen!</h1>
    <p></p>


    <button class="sameSize">Patienten</button>
    <button class="sameSize">Übungen</button>
    <button class="sameSize">Programme</button>

    <br>
    <br>


    <p><a href="" class="link">Mein Profil</a> | <a href="" routerLink="login" (click)="login()" class="link">Logout</a></p>


  </section>

</div>



<div class="col-md-6 col-md-offset-3">
  <h1>Hi {{currentUser.firstName}}!</h1>
  <p>You're logged in with Angular 2!!</p>
  <h3>All registered users:</h3>
  <p><a [routerLink]="['/login']">Logout</a></p>
</div>
