<div class="center">
  <section>

    <br><br><br>

    <img src="favicon.ico" height="50" >
    <p></p>

    <h1>Willkommen!</h1>
    <p></p>


    <button (click)="goToPatient()" class="sameSize">Patienten</button>
    <button (click)="goToExercise()" class="sameSize">Übungen</button>
    <button (click)="goToProgramms()" class="sameSize">Programme</button>

    <br>
    <br>


    <p><a href="" class="link">Mein Profil</a> | <a href="" routerLink="login" (click)="login()" class="link">Logout</a></p>


  </section>

</div>



