
<table>
  <tr>
    <!-- <button class="sameSize"  routerLink="/add/patientadd" (click)="clickPatientAdd()">Patient hinzufügen</button> -->
    <button class="sameSize"  (click)="clickPatientAdd()" >Patient hinzufügen</button>
  </tr>


  <tr>
    <!-- <button class="sameSize"  routerLink="/add/exerciseadd" (click)="clickExerciseAdd()">Übung erstellen</button> -->
    <button class="sameSize"  (click)="clickExerciseAdd()">Übung erstellen</button>
  </tr>


  <tr>
    <!-- <button class="sameSize" routerLink="/add/programmadd" (click)="clickProgrammAdd()">Programm erstellen</button> -->

    <button class="sameSize" (click)="clickProgrammAdd()">Programm erstellen</button>
  </tr>

  <tr><p></p></tr>

</table>
