
<section>
  <div class="center">


    <h2>Hinzufügen</h2>

    <!--
    <popup (confirmClick)="clickPatientAdd()" #popup1>
      <app-patient-add>loading...</app-patient-add>
    </popup>

    <popup (confirmClick)="clickExerciseAdd()" #popup2>
      <app-patient-add>loading...</app-patient-add>
    </popup>

    <popup (confirmClick)="clickProgrammAdd()" #popup3>
      <app-patient-add>loading...</app-patient-add>
    </popup>

    -->



    <router-outlet ></router-outlet>



  </div>

</section>






