
<section>
  <div class="center">


    <h2></h2>

    <table>
      <tr>
        <button class="sameSize" routerLink="/add/patientadd">Patient hinzufügen</button>
      </tr>

      <tr>
        <button class="sameSize" routerLink="/add/exerciseadd">Übung erstellen</button>
      </tr>

      <tr>
        <button class="sameSize" routerLink="/add/programmadd">Programm erstellen</button>
      </tr>

      <tr>
        <router-outlet></router-outlet>
      </tr>
    </table>



  </div>

</section>






