<p>Patient suchen:</p>
<form (ngSubmit)="getPatientById()">
  <p>Nach folgdenem Kriterium suchen...</p>
  <select>
    <option value="id">ID</option>
    <option value="Nachname">ID</option>
    <option vlaue="ID">ID</option>
  </select>
  <input [(ngModel)]="this.searchValue"  [ngModelOptions]="{standalone: true}">
  <input type="submit">
</form>
<div *ngIf="patient">
<table>
  <tr>
    <th>Vorname</th>
    <th>Nachname</th>
    <th>Details</th>
  </tr>
  <tr (click)="onSelect(patient)">
    <td>{{patient.surname}}</td>
    <td>{{patient.firstname}}</td>
    <td><a router-link='Details'>Details</a></td>
    <!--<td><button class="standartButton" (click)="removePatient(patient.id)">löschen</button></td>-->
  </tr>
</table>
</div>
