<div class="column col-6" align="center">
<div class="indexDiv column col-4" align="center">
<table>
  <tr>
    <th>Name</th>
    <th>Jahrgang</th>
    <th></th>
  </tr>
  <tr>
    <td>Hans Muster</td>
    <td>04.03.1982</td>
    <td>Details/Bearbeiten</td>
  </tr>
  <tr>
    <td>Hans Muster</td>
    <td>04.03.1982</td>
    <td>Details/Bearbeiten</td>
  </tr>
  <tr>
    <td>Hans Muster</td>
    <td>04.03.1982</td>
    <td>Details/Bearbeiten</td>
  </tr>
</table>
</div>
  <button>Patient hinzufügen</button>
</div>
