<h1>{{text}}</h1>
<div class="column col-6" align="center">
<div class="indexDiv column col-4" align="center">
  <!--
  <li *ngFor="let patient of patients">
    <span>{{patient.surname}} {{patient.firstname}}</span>
    <span>{{patient.id}}</span>
    <br>
  </li>-->
  <table>
    <tr>
      <th>Name</th>
      <th>Jahrgang</th>
      <th></th>
    </tr>
    <tr *ngFor="let patient of patients">
    <td>{{patient.surname}}</td>
    <td>{{patient.firstname}}</td>
    <td>{{patient.id}}</td>

      <td><button class="standartButton" (click)="removePatient(patient.id)">löschen</button></td>
      <!--<td><input type="checkbox" (click)="removePatient(patient.id)">löschen</td>-->
  </tr>
</table>
  <!--<form><button (click)="getPatients()">Augewählte löschen...</button></form>-->
  <!--
  <tr>
    <th>Name</th>
    <th>Jahrgang</th>
    <th></th>
  </tr>
  <tr>
    <td>Hans Muster</td>
    <td>04.03.1982</td>
    <td>Details/Bearbeiten</td>
  </tr>
  <tr>
    <td>Hans Muster</td>
    <td>04.03.1982</td>
    <td>Details/Bearbeiten</td>
  </tr>
  <tr>
    <td>{{patient | json}}</td>
    <td>04.03.1982</td>
    <td>Details/Bearbeiten</td>
  </tr>
</table>
</div>-->
  <br>
  <app-patient-add-form>loading...</app-patient-add-form><!--
  <form>
    First name: <input [(ngModel)]="this.value1" [ngModelOptions]="{standalone: true}"><br>
    Last name: <input [(ngModel)]="this.value2" [ngModelOptions]="{standalone: true}"><br>
    <button (click)="loadPatientAdd()">Patient hinzufügen</button>
  </form>-->
  <br>
  <!--
  <form>
    ID: <input [(ngModel)]="this.id" [ngModelOptions]="{standalone: true}"><br>
    <button (click)="findPatientGet()">Patient finden..</button>
  </form>
  <form>
    Vorname: <input [(ngModel)]="this.surname" [ngModelOptions]="{standalone: true}"><br>
    <button (click)="findPatientBySurname()">Patient finden..</button>
  </form>-->
</div>
</div>
