<h1>{{text}}</h1>
<div class="column col-6" align="center">
  <div class="indexDiv column col-4" align="center">
    <table>
      <tr>
        <th>Name</th>
        <th>Gruppe</th>
        <th>Therapeut</th>
      </tr>
      <tr *ngFor="let exercise of exercises">
        <td>{{exercise.name}}</td>
        <td>{{exercise.gruppe}}</td>
        <td>{{exercise.therapeut}}</td>
      </tr>
    </table>
  </div>
</div>
<div class="indexDiv column col-4" align="center">
  <br>
  <div class="indexDiv">
    <ul>
      <li><a routerLink="Hinzufügen">Hinzufügen</a></li>
      <li><a routerLink="Suchen">Suchen</a></li>
    </ul>
  </div>
</div>
