<h1>{{text}}</h1>
<div class="column col-6" align="center">
  <div class="indexDiv column col-4" align="center">
    <table>
      <tr>
        <th>Name</th>
        <th>Gruppe</th>
        <th></th>
      </tr>
      <tr>
        <td>Kniebeugen</td>
        <td>Beinübungne</td>
        <td>Details/Bearbeiten</td>
      </tr>
      <tr>
        <td>Bankdrücken</td>
        <td>Brust</td>
        <td>Details/Bearbeiten</td>
      </tr>
      <tr>
        <td>BizepsCurls</td>
        <td>Arme</td>
        <td>Details/Bearbeiten</td>
      </tr>
    </table>
  </div>
  <button>Übung hinzufügen</button>
</div>
