<div class="center">
  <section>


    <h2>Was möchtest du Suchen?</h2>


    <button class="sameSize" routerLink="/search/patientsearch">Patient suchen</button>
    <button class="sameSize" routerLink="/search/exercisesearch">Übung suchen</button>
    <button class="sameSize" routerLink="/search/programmsearch">Programm suchen</button>



<!--
    <table>
      <tr>
        <button class="sameSize" routerLink="/search/patientsearch">Patient suchen</button>
      </tr>

      <tr>
        <button class="sameSize" routerLink="/search/exercisesearch">Übung suchen</button>
      </tr>


      <tr>
        <button class="sameSize" routerLink="/search/programmsearch">Programm suchen</button>
      </tr>

      <tr>
        <router-outlet></router-outlet>
      </tr>


    </table>



-->

    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
    </p>
    <router-outlet></router-outlet>


  </section>
</div>
