
<section>
  <div class="center">


    <h2></h2>

    <table>
      <tr>
        <button class="sameSize" routerLink="/search/patientsearch">Patient suchen</button>
      </tr>

      <tr>
        <button class="sameSize" routerLink="/search/exercisesearch">Übung suchen</button>
      </tr>


      <tr>
        <button class="sameSize" routerLink="/search/programmsearch">Programm suchen</button>
      </tr>

      <tr>
        <router-outlet></router-outlet>
      </tr>



    </table>



  </div>

</section>
