/*
Global style settings done here. Specific style setting will be done inside the component .css file
 */

/* FONT */
@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Abel');

@import url(assets/css/navigation.css);
@import url(assets/css/table.css);
@import url(assets/css/button.css);




html {
  font-family: 'Raleway', sans-serif;
  font-size: 1em;
  font-color: #333333;
}

header{
  /*border: 2px;
  border-style: solid;*/
}

body{
  background-color: white;
}


footer{
  font-size: 0.5em;
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
}

section {
  width: 90%;
  height: auto;
  position: fixed;
  margin: auto;
}

div.center{
  margin-left: auto;
  margin-right: auto;
  text-align: center;

}





div{
  /*border: 2px;*/
 /* margin: 2px;*/
}

h1{
  font-size: 2em;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

button{
  background-color: #E2F0F5;
  border: none;
  color: #333333;
  padding: 15px 15px;
  padding-left: 75px;
  padding-right: 75px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

button.standartButton{
  background-color: #E2F0F5;
  border: none;
  color: #333333;
  padding: 0px;
  margin: 0px;
}

button:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
/*
for changes on our Form Elements(Login,Register etc.)
*/
form{
  align-self: center;
  /*background-color: lightblue; */

}

ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline;
  margin-left:1%;
}




/*--------------------------------------------------------------------------------------------------------------------*/
/*
Maybe these style configurations should be put into the components...
 */
div.indexDiv{
/*border-style: solid;*/
  margin:2%;
}

div.footerDiv{
  border-style: dashed;
}

div.formDiv{
  margin:2%;
  padding:30px;
}


/*--------------------------------------------------------------------------------------------------------------------*/
/*
Use them for declaring <div> and making them responsive
*/
.column{
  /*margin-left: 3%;
  margin-right:3%;*/
  align-items: center;
}

/*
Use them for declaring <div> and making them responsive
*/
.col-1 { width: 10%; }
.col-2 { width: 30%; }
.col-3 { width: 40%; }
.col-4 { width: 60%; }
.col-5 { width: 80%; }
.col-6 { width: 99%; }
