div.navi{
  margin: auto;
  background: green;
  width: 100%;

  -moz-box-shadow: 0px 10px 14px -7px #95aaad;
  -webkit-box-shadow: 0px 10px 14px -7px #95aaad;
  box-shadow: 0px 10px 14px -7px #95aaad;

  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #e2f0f5), color-stop(1, #afd0db));
  background:-moz-linear-gradient(top, #e2f0f5 5%, #afd0db 100%);
  background:-webkit-linear-gradient(top, #e2f0f5 5%, #afd0db 100%);
  background:-o-linear-gradient(top, #e2f0f5 5%, #afd0db 100%);
  background:-ms-linear-gradient(top, #e2f0f5 5%, #afd0db 100%);
  background:linear-gradient(to bottom, #e2f0f5 5%, #afd0db 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e2f0f5', endColorstr='#afd0db',GradientType=0);

  background-color:#e2f0f5;

  /*
  -moz-border-radius:1px;
  -webkit-border-radius:1px;
  border-radius:1px;
  */

  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  padding-top: 1em;
  text-align: center;
  text-decoration:none;
  text-shadow:0px 1px 0px #51899c;

}

nav{
  width: 100%;
  font-size: 1.5em;
  /*
  background: violet;
  */

}

nav ul{
  overflow: hidden;
  /* background: orange; */
}

nav ul li{
  text-align: center;
  list-style: none;
  float: left;
  text-align: center;
  width: 16.67%; /* fallback for non-calc() browsers */
  width: calc(100% / 5);
  box-sizing: border-box;
  display: inline-block;
  margin: auto;
  padding: 0.5em;
  border-style: hidden;
  border:transparent;


  /*
  background: yellow;
  */
}

nav ul li:hover{
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+40,ffffff+60&1+6,0+60 */
  background: -moz-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 6%, rgba(255,255,255,0.37) 40%, rgba(255,255,255,0) 60%); /* FF3.6-15 */
  background: -webkit-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 6%,rgba(255,255,255,0.37) 40%,rgba(255,255,255,0) 60%); /* Chrome10-25,Safari5.1-6 */
  background: radial-gradient(ellipse at center, rgba(255,255,255,1) 6%,rgba(255,255,255,0.37) 40%,rgba(255,255,255,0) 60%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
g}

ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline;
  margin-left:1%;
}
